
  <div *ngIf="song.name">
    <!-- default view -->
    <ng-container *ngIf="!song.artist.mbid">
      <h2>{{ song.name | uppercase }}</h2>
      <div><span>artist: </span> {{song.artist.name}} </div>
  </ng-container>
  <!-- Artist Songs View -->
  <ng-container *ngIf="song.artist.mbid">
    <app-artist-detail [mbid]="song.artist.mbid"></app-artist-detail>
    <app-artist-song [mbid]="song.artist.mbid"></app-artist-song>
  </ng-container>

  </div>
  <button (click)="goBack()">go back</button>