/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
      /* HEADER */
.mat-toolbar--fixed {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  background-color: black;
  width: 100%;
  display: flex;
}
.mat-toolbar__title-link{
  color: #FFFFFF;
  text-decoration: none;
}
.flex-spacer{
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}
.align-start {
  align-content: flex-start;
  width: fit-content;
  height: fit-content;
}
 .align-end {
  align-content: end;
  flex: 1 1 auto;
  flex-direction: row;
  padding-inline-start: 20px;

}
.nav-button.mat-button {
  background-color: black;
}
.toolbar-nav-link__text {
  font-size: 12px;
  font-style: normal;
}
.content {
  margin-top: 20px;
}
  /* DASHBOARD */
  .mat-list {
    align-content: center;
    margin:0 auto;
  }
.mat-list-items {
  background-color:snow;
  margin-top: 5px;
}

    	  /* SONG DETAIL */
  /* SONG CARD */
.song-card {
  max-width: 400px;
  max-height: 700px;
  background-color:aliceblue;
  text-align: center;
  margin: 10px 20px
}
.song-card-titles {
  margin-bottom: 5px;
}
.song-card-img {
  border-radius: 8px;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
 /* ARTIST CARD */
.artist-card {
  max-width: 400px;
  max-height: 700px;
  background-color:aliceblue;
  text-align: center;
  margin: 10px 20px
}
.artist-card-img{
  border-radius: 8px;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.mat-list-items-art{
  padding-left: 200px;
  padding-top: 150px;
}