<div>
  <h4>Song Search</h4>
  <input #searchBox id="search-box" [(ngModel)]="searchTerms"/>
  <button (click)="getresult()"> search</button>
  <!-- <input #searchBox id="search-box" (keyup)="getresult(searchBox.value)" /> -->
  <ul *ngIf="songs" >
    <li *ngFor="let song of songs" >
      <a >
       <h4> {{song.name}} </h4>
      </a>
    </li>
  </ul>
</div>

<!-- <input
(keyup)="searchTerm$.next($event.target.value)">
<div *ngIf="searchTerm$">
  <ul *ngIf="results">
    <li *ngFor="let result of results">
      <a>
        {{ result.name}} {{result.artist.name}}
      </a>
    </li>
  </ul>
</div> -->